@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Roboto+Condensed&display=swap');


#left-bar{
background-color: white;
border-radius: 0px 30px 30px 0px;
padding-right: 2%;
}



.nav-link a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;

}

.nav-link a:hover  {
    color: #A4D955;
}

/*  a*/

body{
    background-color: #F0F7FF;
}



/*left bar style*/





#logo-leftbar {
    display: block;
    margin: auto;
    width: 50%;
    margin-bottom: 1.25rem;
    
}

li{
    margin-bottom: 15px;
}


.navbar-nav.flex-column a {
    color: grey;
  }

.navbar-nav.flex-column .nav-link a:hover  {
    color: #A4D955;
}

.nav-link a{
    color:#8A8A8A
}




.nav-link{
    color:#8A8A8A;
}



#profiles{

    background: #FFDA6D;
    border-radius: 0.75rem 0.75rem 0.75rem 0.75rem;
}



#profile_picture {
    height: fit-content;
    margin-left: 8%;
    margin-top: 5%;
    border-radius: 10px;
    background: #FFFFFF;
  }
  

.username {
    font-size: 1.5rem;

}

#perfil_dropdown{
    margin-top: 3%;
}


#rightbar{
    top: 0; /* Ubica el elemento en la parte superior */
    right: 0; /* Ubica el elemento en la parte derecha */
    height: 100vh; /* Establece la altura al 100% de la ventana */
    background-color: white;
    width: 20%;
    position:sticky;
    border-radius: 30px 0px 0px 30px;
}

#scrollBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none; /* Oculta el botón de desplazamiento inicialmente */
    z-index: 999;
}

#notif h4{
    font-family: 'Open Sans';
    font-style: bold;
    font-size: 1.25rem;
    color: #333333;
    margin-top: 9%;
}


#see_all a{
    font-family: 'Open Sans';
    font-style: bold;
    font-size: 0.813rem;
    color: #558018;
    margin-left: 30%;
}




#ok,#x2,#new{
    background-color: #F0F7FF;
}

#x2 {
   
    margin-right:10px;
}


#fofo{
    background-color: #fff;
}

#profile{
    background-color: #fff;
}

#notif {
    background: rgba(255, 218, 109, 0.46);
    border-radius: 10px;
    padding: 5px;
    position:sticky;
    height: calc(100vh - 200px); /* Establece la altura para ocupar el espacio restante de la ventana */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si hay demasiado contenido */

}





