#title_section {
  background-color: #a4d955;
  border-radius: 20px;
  height: 8rem;
}

#contTitulo h1 {
  color: white;
  font-family: "Open Sans";
  font-size: 2rem;
  font-weight: bold;
  margin-left: 2rem;
}

#line {
  height: 0.15rem;
  opacity: 100%;
  border: 0.094rem solid #ffffff;
  background-color: #ffffff;
  transform: matrix(1, 0, 0, 1, 0, 0);
  margin-left: 2rem;
}

#informationSelect_section {
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

#informationSelect_section h2 {
  color: #f29f05;
}

#informationSelect_section p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;

  color: #000000;
}

#line_section2 {
  opacity: 100%;
  border: 0.094rem solid #ececec;
  background-color: #ececec;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.custom-button {
  color: white;
  background-color: #f29f05;
  border: none;
}

.custom-button:hover {
  background-color: #a4d955;
  border: none;
}

#donCerrada {
  background-color: #ffffff;
  border-radius: 20px;
}

#donCerrada p {
  text-align: justify;
  font-family: "Open Sans";
  font-style: bold;
  font-size: 15px;
  line-height: 20px;

  color: #8a8a8a;
}

#donCerrada h3 {
  color: #f29f05;
  text-align: center;
}

#donAbierta {
  background-color: #ffffff;
  border-radius: 20px;
}

#donAbierta p {
  text-align: justify;
  font-family: "Open Sans";
  font-style: normal;
  font-size: 15px;
  line-height: 20px;

  color: #8a8a8a;
}

#donAbierta h3 {
  color: #f29f05;
  text-align: center;
}
