

{% extends 'base.html' %}
{% load static %}


{% block title %}
Control de donaciones
{% endblock %}
{% block content %}
<link href="{% static '/historyapplications.css' %}" rel="stylesheet"/>
<link href="{% static 'newscholarship.css' %}" rel="stylesheet"/>

<div class="row mb-3 flex-sm-row" id="contTitulo">
      <div class="col-md-8">
        <br />
        <h1 id="titulo" class="mt-2" style="color: white">Control de donaciones</h1>
        <hr id="line" class="w-80" />
      </div>
      <div class="col-md-4">
        <img
          src="../../media/icons/HigherEducation.png"
          alt="No Encontrada"
          class="img-fluid d-none d-md-block"
          id="graduatedImg"
        />
      </div>
    </div>

<!-- Container -->
<!-- Mostrar siempre el formulario de filtrado -->
<div class="row mb-3 flex-sm-row" style=" background-color: white;">
    <div class="text-center d-flex " >
        <p style="color: #F29F05; font-weight: bold; font-size:1.2rem;" class="m-auto">
            Últimas donaciones realizadas
        </p>
    </div>
    <div class="col-md-12 d-flex text-center align-items-center justify-content-center" style="height: 32rem; background-color: white;">
        {% if transactions %}
        <ul>
            {% for transaction in transactions %}
            <li>{{ transaction.date_transaction }} - {{ transaction.amount }} - {{ transaction.payment }} - {{ transaction.get_type_pay_display }}</li>
          {% endfor %}
        </ul>
      {% else %}
      <div class=" col-md-6 " >
        <p style=" font-weight: 600; font-size:medium;" class="m-auto">
            No se han realizado donaciones aún.
        </p>
    </div>
      {% endif %}
    </div>
    <hr style="color: #ECECEC;">

</div>


{% endblock %}
</body>
</html>


